*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}
.home{
    background-color:rgb(255, 164, 27);
    height: 900px;
}
.navcon{
    display: flex;
    gap:30px;
    font-weight: bolder;

}
.nav{
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home{
    background-color:rgb(255, 164, 27);
}
.icon{
    display: flex;
    gap: 20px;
    size: 10px;
}
.red
{
    color: red;
}
.left{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
    
}
.taste-btn{
    width: 170px;
    height: 60px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: bolder;
    font-size: medium;
}
.rimg{
    width: 400px;
    height: 350px;
}
.containar{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.navimg{
    width:100px ;
    height:100px;
}
.card{
    height: 300px;
    width: 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.flex{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin-left: 90px;
}
.cardimg{
    width: 180px;
    height: 180px;
    
}
.cardfont{
    color:darkred;
    font-size: 24px;
    font-weight: bolder;

}
.b1{
    width: 160px;
    height: 50px;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-weight: bolder;
    font-size: medium;
}    
a {
  position: relative;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #1a1a1a;
  font-size: 18px;
  transition: color 0.3s ease;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background-color: red;
  transition: width 0.3s ease;
  border-radius: 2px;
}
a:hover::after {
  width: 100%;
}

a:hover {
  color: #000; 
}


a.active::after {
  width: 100%;
}
.fotter{
    height: 100px;
    background-color: #000;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}