*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}
.contact{
    background-color:rgb(255, 164, 27);
    height: 750px;
}   
.navcon{
    display: flex;
    gap:30px;
    font-weight: bolder;

}
.nav{
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon{
    display: flex;
    gap: 20px;
    size: 10px;
} 
.navimg{
    width:100px ;
    height:100px;
}
a {
  position: relative;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #1a1a1a;
  font-size: 18px;
  transition: color 0.3s ease;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background-color: red;
  transition: width 0.3s ease;
  border-radius: 2px;
}
a:hover::after {
  width: 100%;
}

a:hover {
  color: #000; 
}
a.active::after {
  width: 100%;
}
.hero{
  text-align: center;
  line-height: 40px;
}
.contactcon{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.det{
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 450px;
  top: 40px;
}
.con{
  margin-top: 80px;
  line-height: 40px;
}
input{
  height: 40px;
  border-radius: 20px;
  text-indent: 40px;
}
label{
  font-weight: bolder;
}
button{
  height: 40px;
  border-radius: 30px;background-color: red;
  color: white;
  font-weight: bolder;
}
.fotter{
    height: 100px;
    background-color: #000;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
