*{
    padding:0%;
    margin: 0;
    box-sizing: border-box;
}
.about{
    background-color:rgb(255, 164, 27);
    height: 950px;
}
.navcon{
    display: flex;
    gap:30px;
    font-weight: bolder;

}
.nav{
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon{
    display: flex;
    gap: 20px;
    size: 10px;
}
.navimg{
    width:100px ;
    height:100px;
}   
.con1{
    display: flex;
    justify-content:space-around;
} 
.con1l{
    height: 300px;
    width: 400px;
}
.red
{
    color: red;
}    
.font{
    font-weight:600;
     font-family: 'Poppins', sans-serif;
     font-size:14px;
}
.con1r{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 300px;
    width: 500px;
    align-items: center;
    padding-top: 20px;
}
.conimg{
    width: 350px;
    height: 270px;
}
.con2l{
     display: flex;
    flex-direction: column;
    gap: 10px;
    height: 230px;
    width: 500px;
    align-items: center;
    margin-top: 30px;


}
.con2r{
     height: 230px;
    width: 400px;
}
.milstone{
    height:270px ;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
a {
  position: relative;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #1a1a1a;
  font-size: 18px;
  transition: color 0.3s ease;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background-color: red;
  transition: width 0.3s ease;
  border-radius: 2px;
}
a:hover::after {
  width: 100%;
}

a:hover {
  color: #000; 
}
a.active::after {
  width: 100%;
}
.fotter{
    height: 100px;
    background-color: #000;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}




