*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}
.products{
    background-color:rgb(255, 164, 27);
    height: 1700px;
}   
.navcon{
    display: flex;
    gap:30px;
    font-weight: bolder;

}
.nav{
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon{
    display: flex;
    gap: 20px;
    size: 10px;
} 
.navimg{
    width:100px ;
    height:100px;
}
a {
  position: relative;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #1a1a1a;
  font-size: 18px;
  transition: color 0.3s ease;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background-color: red;
  transition: width 0.3s ease;
  border-radius: 2px;
}
a:hover::after {
  width: 100%;
}

a:hover {
  color: #000; 
}
a.active::after {
  width: 100%;
}
.card{
    height: 300px;
    width: 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid red;
    border-radius: 20px;
}
.cardimg{
    width: 180px;
    height: 180px;
    
}
.selling{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}
.cardfont{
    color:darkred;
    font-size: 24px;
    font-weight: bolder;
}    
.b1{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-weight: bolder;
    font-size: medium;
}    
.fotter{
    height: 100px;
    background-color: #000;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    
}